html {
}

body {
  background: #941;
}

input {
  width: 5em;
}

output {
  display: inline;
}

label {
  width: 8em;
}

.container {
  max-width: 768px;
  background: white;
  padding: 0 30px;
}

#mannings {
  margin-bottom: 15px;
}

#error {
  padding-left: 0;
  list-style: none;
}

#header {
  background: #963;
}

#header #title {
  text-align: right;
  color: white;
  font-size: 1.5em;
  padding: 0.7em 0.7em 0 0;
}

#header #title a { color: white; }

#header #byline {
  text-align: right;
  font-style: italic;
  font-size: 1.3em;
  padding: 0 0.7em 0.7em 0;
  color: #b85;
}

#footer {
  background: #963;
}

#footer p {
  text-align: right;
  margin: 0; 
  padding: 0.5em 0.7em;
}

#footer a {
	color: white;
}
